@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2022-03-23 10:34:36
 * @version $Id$
 */
.m-bg{
	position: absolute;
	width: 1252px;
	height: 1204px;
	background: url("../img/bk.png") no-repeat;
	opacity: 0;
	z-index: -1;
}
.m-hd{
	width: 1252px;
	height: 400px;
	display:flex;
	justify-content:center;
	align-items:center;
}
.img{
	width: 491px;
	height: 320px;
	background: url("../img/p1.jpg") no-repeat;
	display: inline-block;
	margin: 10px 10px 0px 0px;
	background-color: #eeeeee;
}
.mod_1{
	width: 500px;
	height: 400px;
	display: inline-block;
	background-color: #eeeeee;
}
.title_1{
	width: 50px;
	float: left;
	margin:42px 0px 0px 40px;
	border-bottom:thick solid blue;
}
.txt_1{
	width: 450px;
	height: 120px;
	float: left;
	margin:36px 0px 0px 40px;
}
.btn_1{
	width: 200px;
	height: 40px;
	float: left;
	margin:32px 0px 0px 40px;
	background-color: #0169b2;
	border-radius:5px
}
.btn_1>span{
	float: left;
	color: white;
	margin:5px 10px 0px 15px;
}
.stage_1{
	width: 1020px;
	height: 360px;
	margin: 20px 0px 0px 120px;
}
.s1-title{
	height: 85px;
	border-bottom:3px solid #dddddd;
}
.s1-title-1{
	width: 85px;
	font-size: 32px;
	font-weight: bold;
	color: #085790;
	margin: 16px 0px 0px 8px;
	display: inline-block;
	border-right:thick solid #085790;
}
.s1-title-2{
	font-size: 20px;
	font-weight: bold;
	margin: 0px 0px 0px 14px;
	display: inline-block;
}
.btn_2{
	width: 150px;
	height: 35px;
	float: right;
	margin:20px 15px 0px 35px;
	background-color: #0169b2;
	border-radius:5px
}
.btn_2>span{
	color: white;
	padding-left: 30px;
}
.s1-m1{
	width: 1020px;
	height: 250px;
}
.s1-m1>li{
	height: 62px;
	list-style: none;
	margin: 32px 0px -10px 0px;
	border-bottom:3px solid #dddddd;
}
.s1-m1>li>button{
	width: 108px;
	height: 25px;
	border-radius:20px;
	color: #fff;
	margin:0px 15px 0px 30px;
}
.s1-m1>li>span{
	height: 5px;
	font-size: 25px;
	border-bottom:3px solid #000;
}
.stage_2{
	width: 1252px;
	height: 420px;
	margin: 10px 0px 0px 0px;
	background-color: #f8f8f8;
	opacity: 1;
}
.s2-m1{
	float: left;
	width: 600px;
	height: 415px;
	display: inline-block;
	margin: 0px 0px 0px 0px;
}
.s2-m1-t{
	margin: 12px 0px 0px 45px;
	font-size: 25px;
	color: #5d94d4;
	border-left:8px solid #5d94d4;
}
.s2-m2{
	float: right;
	width: 600px;
	height: 415px;
	display: inline-block;
	margin: 0px 0px 0px 0px;
}
.s2-m2-t{
	margin: 14px 0px 0px 45px;
	font-size: 25px;
	color: #5d94d4;
	border-left:8px solid #5d94d4;
}
.F{
	width: 540px;
	height: 320px;
	margin: 20px 0px 0px 48px;
	justify-content:center;
	text-align: center;
	background-color: white;
	border: 3px solid #ccc;
}
.f-txt{
	margin: 35px 0px 0px 0px;
}
.f-txt>li{
	list-style: none;
	font-weight: bold;
	margin-bottom: 15px;
}
.f-l2{
	font-size: 42PX;
	color: #0268aa;
	font-weight: bold;
}
.f-l3{
	height: 60px;
	line-height:25px;
	border-bottom: 3px solid #ddd;
}
.f-l4{
	font-size: 20px;
	margin-top: 45px; 
	color: #4b8fda;
}
.F>button{
	width: 420px;
	height: 75px;
	margin-top: 70px;
	background-color: #0169b2;
	border-radius:10px;
	font-size: 20PX;
	color: white;
}
.F>button>span{
	margin: 20px;
}