@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2022-03-02 10:41:56
 * @version $Id$
 */
body{
    margin: 0;

}
li{
    list-style: none;
}
.m-bk{
    position: absolute;
    width: 1063px;
    height: 544px;
    background: url("../image/img.jpg") no-repeat;
    background-position: 460px 60px;
    opacity: 1;
}
.m-menu{
    padding: 14px 15px 0px 63px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 2px;
    color: #6c6c6c;
}
.m-menu>.m-menu-item+.m-menu-item{
    margin-left: 13px;
}
.leftp{
    position: absolute;
    left:  34px;
}
.mod1{
    padding: 36px 0px 0px 0px;
    line-height: 7px;
}
.mod1_1{
    font-weight: bolder;
    font-size: 12px;
    letter-spacing: 0.9px;
    color: #747474;
}
.mod1_2{
    font-weight: bolder;
    font-size: 18px;
    letter-spacing: 0.3px;
    color: #222222;
}
.mod1_3{
   padding-top: 18px; 
   font-weight: bolder;
   font-size: 12px;
   letter-spacing: 0.3px;
   color: #444444;
}
.rightp{
    position: absolute;
    left: 800px;
    top: 100px;
}
.title{
    font-weight: bolder;
    font-size: 18px;
}
.mod2{
    padding: 0px 0px 0px 40px;
}
.mod2_1{
    padding-top: 10px;
    font-weight: bolder;
    font-size: 16px;
    color: #222222;
}
.mod2_2{
    margin-top: -10px;
    font-weight: bolder;
    font-size: 12px;
    color: #444444;
}
.mod2_3{
    margin-top: -10px;
    font-weight: bolder;
    font-size: 12px;
    color: #747474;
}